# Classificação de empresas para investimento a longo prazo

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as srn
srn.set()

- Esta base de dados foi criada com as informações disponibizadas no site www.bastter.com. Para o acesso de tais informações, foi necessário comprar uma conta
- Empresas com indisponibilidade de informações ficaram com seus respectivos campos vazios
- **Atributo situação (classe)**: este atributo recebeu valores que correspondem a boa, média ou ruim. Estas posições foram retiradas do site do www.tororadar.com e do aplicativo Dinheiro do Windows 10

In [2]:
dataset = pd.read_excel('BD Completo.xlsx')
print(dataset.shape)
dataset.head()

(377, 70)

,Situação,Empresa,Segmento,Valor de M.,EV,Majoritar.,Pes. Fisicas,Categoria,LPA,LPA desconctado,...,FCO,FCI,FCF,FCT,FCL,FCI/LL,CAPEX,FCL CAPEX,CAPEX/LL,CAPEX/FCO
0,ruim,aes elpa s.a,energia eletrica,1.334627e+09,4.391657e+09,"Brasiliana Participaçoes (98,26%)",15969.0,alerta,0.57,0.56,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,boa,tiet aes tiete,energia eletrica,1.519060e+10,NaN,"Aes Holdings Brasil ltda. (61,57%)",18681.0,dividendos,0.18,0.18,...,836.0,-126.0,-728.0,-18.0,710.0,0.68,-139.0,696.0,26.0,17.0
2,ruim,aflu afluente,energia eletrica,9.465319e+07,8.565319e+07,contour global do brasil participações ltda (9...,1898.0,alerta,0.16,0.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ruim,aflu afluente t,energia eletrica,2.819886e+08,2.439886e+08,"neoenergia s.a (87,84)",8.0,alerta,0.21,0.20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ruim,rpad alfa holding,bancos,2.887665e+08,2.857665e+08,"admistradora fortaliza ltda (89,14%)",11290.0,crescimento moderado,0.60,0.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
print(dataset.info())
dataset.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 70 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Situação             377 non-null    object
 1   Empresa              377 non-null    object
 2   Segmento             374 non-null    object
 3   Valor de M.          319 non-null    float64
 4   EV                   285 non-null    float64
 5   Majoritar.           361 non-null    object
 6   Pes. Fisicas         358 non-null    float64
 7   Categoria            348 non-null    object
 8   LPA                  336 non-null    float64
 9   LPA desconctado      317 non-null    float64
 10  VPA                  339 non-null    float64
 11  P/L                  316 non-null    float64
 12  P/L descontado       311 non-null    float64
 13  EV/EBITDA            132 non-null    float64
 14  P/VPA                313 non-null    float64
 15  DPA                  141 non-null    float64
 16  Dividend Yield       141 non-null    float64
 17  Payout               120 non-null    float64
 18  Margem Segurança     321 non-null    float64
 19  Rec. Liquida         326 non-null    float64
 20  Luc. Liquido         325 non-null    float64
 21  Luc. Liq * NR        51 non-null     float64
 22  Resultado Bruto      137 non-null    float64
 23  Margem Bruta         137 non-null    float64
 24  EBIT                 139 non-null    float64
 25  D&A                  138 non-null    float64
 26  EBITDA               139 non-null    float64
 27  Margem EBITDA        138 non-null    float64
 28  Res. Financeiro      138 non-null    float64
 29  Margem Liquida       318 non-null    float64
 30  ROE                  328 non-null    float64
 31  ROA                  155 non-null    float64
 32  SSS                  14 non-null     float64
 33  Patri. Liquido       29 non-null     float64
 34  RIF                  29 non-null     float64
 35  Margem Bancaria      29 non-null     float64
 36  Indc. Eficiencia     20 non-null     float64
 37  Indc. Basileia       22 non-null     float64
 38  PDD                  27 non-null     float64
 39  PDD/LL               28 non-null     float64
 40  Equity Multi.        30 non-null     float64
 41  Patri. Liquido.1     344 non-null    float64
 42  Caixa                336 non-null    float64
 43  Divida bruta         323 non-null    float64
 44  Divida Liquida       341 non-null    float64
 45  Divida Bruta/PL      296 non-null    float64
 46  Div Liquida/EBITDA   119 non-null    float64
 47  Indice de Cobertura  115 non-null    float64
 48  Despesas com juros   116 non-null    float64
 49  EF                   311 non-null    float64
 50  ECP                  310 non-null    float64
 51  Custo % da divida    114 non-null    float64
 52  EM                   294 non-null    float64
 53  IPL                  158 non-null    float64
 54  At. Circulante       317 non-null    float64
 55  Pas. Circulante      317 non-null    float64
 56  Caixa.1              317 non-null    float64
 57  Liq. Corrente        317 non-null    float64
 58  Liq. Imediata        316 non-null    float64
 59  Capital de giro      316 non-null    float64
 60  FCO                  138 non-null    float64
 61  FCI                  138 non-null    float64
 62  FCF                  138 non-null    float64
 63  FCT                  138 non-null    float64
 64  FCL                  138 non-null    float64
 65  FCI/LL               135 non-null    float64
 66  CAPEX                136 non-null    float64
 67  FCL CAPEX            138 non-null    float64
 68  CAPEX/LL             135 non-null    float64
 69  CAPEX/FCO            136 non-null    float64
dtypes: float64(65), object(5)
memory usage: 206.3+ KB
None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Situação,377,3,ruim,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Empresa,377,377,aes elpa s.a,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Segmento,374,104,energia eletrica,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Valor de M.,319.0,NaN,NaN,NaN,8596999442.269592,28352126872.385899,67506.0,141573508.5,878332957.0,5117960217.5,286689305243.0
EV,285.0,NaN,NaN,NaN,10217755714.421053,37948621223.278305,-26236953.0,285766537.0,1593725150.0,6411987332.0,499873636283.0
...,...,...,...,...,...,...,...,...,...,...,...
FCI/LL,135.0,NaN,NaN,NaN,272.71163,674.434183,0.68,55.0,145.0,277.0,7073.0
CAPEX,136.0,NaN,NaN,NaN,-1339.882353,6747.600243,-74622.0,-717.5,-209.5,-51.75,1350.0
FCL CAPEX,138.0,NaN,NaN,NaN,428.876812,1450.638175,-805.0,-22.0,82.5,373.25,10943.0
CAPEX/LL,135.0,NaN,NaN,NaN,235.848,586.035858,0.0,33.0,95.0,184.0,5473.0
CAPEX/FCO,136.0,NaN,NaN,NaN,180.485294,443.289003,0.0,39.25,72.5,128.5,3664.0

In [4]:
dataset['Situação'].value_counts()

ruim     189
boa       99
medio     89
Name: Situação, dtype: int64

## Tratamento dados faltantes

In [17]:
#pd.set_option('max_rows', None)
dataset.isnull().sum()

Situação         0
Empresa          0
Segmento         3
Valor de M.     58
EV              92
              ...
FCI/LL         242
CAPEX          241
FCL CAPEX      239
CAPEX/LL       242
CAPEX/FCO      241
Length: 70, dtype: int64