# Agrupamento de empresas similares

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as srn
srn.set()
%matplotlib inline

In [2]:
import pickle

### Base de dados

In [3]:
with open('bases_classificacao.pkl', 'rb') as f:
    dataset, dataset_original, X, y, empresa, scaler = pickle.load(f)

In [5]:
print(dataset_original.shape)
dataset_original.head()

(347, 24)

,Situação,Segmento,Valor de M.,EV,Pes. Fisicas,Categoria,LPA desconctado,VPA,P/L,P/L descontado,...,ROE,Patri. Liquido.1,Divida Liquida,Divida Bruta/PL,EF,ECP,EM,Pas. Circulante,Liq. Imediata,Capital de giro
0,ruim,energia eletrica,1.334627e+09,4.391657e+09,15969.0,alerta,0.56,36.03,24.71,24.71,...,20.66,2012.0,1567.00,0.860000,49.000000,11.000000,3.94,4508.0,0.12,102.0
1,boa,energia eletrica,1.519060e+10,1.021776e+10,18681.0,dividendos,0.18,0.80,14.92,14.92,...,37.00,1812.0,2459.00,1.720000,58.000000,15.000000,2.40,828.0,0.70,-52.0
2,ruim,energia eletrica,9.465319e+07,8.565319e+07,1898.0,alerta,0.15,2.07,31.55,31.55,...,25.00,48.0,-8.00,1.720811,30.548746,38.872065,1.24,8.0,1.13,4.0
3,ruim,energia eletrica,2.819886e+08,2.439886e+08,8.0,alerta,0.20,1.23,21.69,21.69,...,22.00,78.0,-31.00,0.040000,5.250000,23.000000,1.15,7.0,6.00,67.0
4,ruim,bancos,2.887665e+08,2.857665e+08,11290.0,crescimento moderado,0.60,10.42,5.65,5.65,...,6.00,721.0,-440.75,0.250000,30.548746,38.872065,1.01,6.0,0.50,0.0

In [6]:
print(dataset.shape)
dataset.head()

(347, 111)

,Valor de M.,EV,Pes. Fisicas,LPA desconctado,VPA,P/L,P/L descontado,P/VPA,Margem Segurança,Luc. Liquido,...,80,81,82,83,84,85,86,87,88,89
0,1.334627e+09,4.391657e+09,15969.0,0.56,36.03,24.71,24.71,0.38,-0.53,555.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.519060e+10,1.021776e+10,18681.0,0.18,0.80,14.92,14.92,3.39,22.00,703.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,9.465319e+07,8.565319e+07,1898.0,0.15,2.07,31.55,31.55,2.42,-63.00,13.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,2.819886e+08,2.439886e+08,8.0,0.20,1.23,21.69,21.69,3.61,46.00,17.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,2.887665e+08,2.857665e+08,11290.0,0.60,10.42,5.65,5.65,0.32,116.00,45.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [7]:
X.shape, y.shape

((347, 111), (347,))

In [9]:
empresa

0                          aes elpa s.a
1                         tiet aes tiete
2                          aflu afluente
3                        aflu afluente t
4                      rpad alfa holding
                     ...
372                   whirlpool s.a whrl
373                 wilson sons ltd wson
374    wlm industria e comercia s.a sgas
375          zain participações s.a opzi
376                524 participações s.a
Name: Empresa, Length: 347, dtype: object

In [10]:
scaler

MinMaxScaler()

## Número de clusters

## Agrupamento k-means

## Análise do agrupamento

## Visualização do agrupamento

## Exercício