# Taxa de Retorno de Ações

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as srn
srn.set()
import plotly.express as px

## Taxa de retorno simples

- > RS = ((preço final - preço inicial) / preço inicial) * 100
- > RS = ((preço final - preço inicial + dividendos) / preço inicial) * 100
- > LUCRO = ((valor final * numero de ações) + (dividendos * numero de ações)) - (valor inicial * numero de ações) - taxa de compra - taxa de venda
- > Preço final de venda = ((preço final + dividendo) * numero de ações) - taxa de venda
- > Preço inicial de venda = (preço inicial * numero de ações) + taxa de compra
- > RS = ((preco final de venda - preço inicial de venda)/preço inicial de venda) * 100

In [2]:
dataset = pd.read_csv('acoes.csv')
print(dataset.shape)
dataset.head()

(1798, 7)

         Date    GOL    CVC      WEGE      MGLU       TOTS       BOVA
0  2015-01-02  14.99  15.20  5.923076  0.232812  11.910702  47.259998
1  2015-01-05  14.85  15.00  5.963461  0.237187  11.544731  46.320000
2  2015-01-06  15.21  14.80  5.875000  0.234062  10.822770  46.580002
3  2015-01-07  14.55  14.67  5.807692  0.241875  10.746248  48.150002
4  2015-01-08  14.27  14.15  5.905769  0.240000  10.995774  48.509998

In [3]:
preco_inicial = dataset['GOL'][0]
preco_final = dataset['GOL'][len(dataset)-1]
preco_inicial, preco_final

(14.989999771118164, 17.479999542236328)

In [4]:
taxa_retorno_simples = lambda preco_inicial, preco_final: ((preco_final - preco_inicial)/preco_inicial)*100
taxa_retorno_simples(preco_inicial, preco_final)

16.611072776103352

In [5]:
# para nossa carteira de ações

taxa_retorno_simples = lambda preco_inicial, preco_final: ((preco_final - preco_inicial)/preco_inicial)*100
df_taxa_retorno = pd.DataFrame()

for coluna in dataset.columns[1:]:
    preco_inicial = dataset[coluna][0]
    preco_final = dataset[coluna][len(dataset)-1]
    df_taxa_retorno.loc[coluna,'taxa_retorno_simples'] = taxa_retorno_simples(preco_inicial, preco_final)
df_taxa_retorno

      taxa_retorno_simples
GOL              16.611073
CVC               9.473682
WEGE            473.181906
MGLU           2906.717837
TOTS            203.592522
BOVA            144.921718

In [6]:
# outra formula:
((preco_final/preco_inicial) - 1)*100

144.92171838961005

## Taxa de retorno diária

In [9]:
for coluna in dataset.columns[1:]:
    dataset[f'RS_{coluna}'] = (dataset['GOL']/dataset['GOL'].shift(1))-1
dataset

,Date,GOL,CVC,WEGE,MGLU,TOTS,BOVA,RS_GOL,RS_CVC,RS_WEGE,RS_MGLU,RS_TOTS,RS_BOVA
0,2015-01-02,14.990000,15.200000,5.923076,0.232812,11.910702,47.259998,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-05,14.850000,15.000000,5.963461,0.237187,11.544731,46.320000,-0.009340,-0.009340,-0.009340,-0.009340,-0.009340,-0.009340
2,2015-01-06,15.210000,14.800000,5.875000,0.234062,10.822770,46.580002,0.024242,0.024242,0.024242,0.024242,0.024242,0.024242
3,2015-01-07,14.550000,14.670000,5.807692,0.241875,10.746248,48.150002,-0.043392,-0.043392,-0.043392,-0.043392,-0.043392,-0.043392
4,2015-01-08,14.270000,14.150000,5.905769,0.240000,10.995774,48.509998,-0.019244,-0.019244,-0.019244,-0.019244,-0.019244,-0.019244
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1793,2022-03-23,15.560000,14.560000,32.750000,6.000000,34.599998,112.900002,0.015003,0.015003,0.015003,0.015003,0.015003,0.015003
1794,2022-03-24,16.240000,15.420000,33.130001,6.600000,34.849998,114.739998,0.043702,0.043702,0.043702,0.043702,0.043702,0.043702
1795,2022-03-25,16.889999,15.990000,32.880001,6.540000,34.380001,114.750000,0.040025,0.040025,0.040025,0.040025,0.040025,0.040025
1796,2022-03-28,17.049999,16.040001,33.599998,6.470000,34.730000,114.510002,0.009473,0.009473,0.009473,0.009473,0.009473,0.009473
1797,2022-03-29,17.480000,16.639999,33.950001,7.000000,36.160000,115.750000,0.025220,0.025220,0.025220,0.025220,0.025220,0.025220