# Risco de ações

In [1]:
import pandas as pd
import numpy as np
import statistics
import math
from scipy import stats
import seaborn as srn
import matplotlib.pyplot as plt
srn.set()

In [2]:
dataset = pd.read_csv('acoes.csv')
print(dataset.shape)
dataset.head()

(1798, 7)

         Date    GOL    CVC      WEGE      MGLU       TOTS       BOVA
0  2015-01-02  14.99  15.20  5.923076  0.232812  11.910702  47.259998
1  2015-01-05  14.85  15.00  5.963461  0.237187  11.544731  46.320000
2  2015-01-06  15.21  14.80  5.875000  0.234062  10.822770  46.580002
3  2015-01-07  14.55  14.67  5.807692  0.241875  10.746248  48.150002
4  2015-01-08  14.27  14.15  5.905769  0.240000  10.995774  48.509998

In [3]:
print(dataset.info())
dataset.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1798 non-null   object
 1   GOL     1798 non-null   float64
 2   CVC     1798 non-null   float64
 3   WEGE    1798 non-null   float64
 4   MGLU    1798 non-null   float64
 5   TOTS    1798 non-null   float64
 6   BOVA    1798 non-null   float64
dtypes: float64(6), object(1)
memory usage: 98.5+ KB
None

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Date,1798,1798,2015-12-16,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GOL,1798,NaN,NaN,NaN,15.7926,9.64064,1.16,7.7725,14.8,21.9,43.79
CVC,1798,NaN,NaN,NaN,30.1237,15.6602,6.10657,17.2,23.705,44.1925,64.8
WEGE,1798,NaN,NaN,NaN,15.4205,12.0484,4.94231,6.57692,9.07846,22.9038,46.105
MGLU,1798,NaN,NaN,NaN,7.06014,7.95957,0.030585,0.357997,3.92297,11.3244,27.45
TOTS,1798,NaN,NaN,NaN,16.7217,9.06115,7.1564,9.98104,11.578,24.4967,40.6
BOVA,1798,NaN,NaN,NaN,79.3597,23.8065,36.45,57.8,78.435,100,125.75