# An√°lise de sentimentos em textos financeiros

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as srn
srn.set()

In [4]:
import spacy
import string
import random
import re

In [5]:
base = pd.read_csv('stock_data.csv')
print(base.shape)
base.head()

(5791, 2)

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1