# Algoritmo ECLAT

In [1]:
import pandas as pd
import numpy as np

In [4]:
#!pip install pyECLAT

In [5]:
import pyECLAT

In [3]:
base_mercado1 = pd.read_csv('./dados/mercado.csv')
print(base_mercado1.shape)
base_mercado1.head()

(9, 4)

      leite cerveja       pao  manteiga
0      cafe     pao  manteiga       NaN
1      cafe     pao  manteiga       NaN
2     leite    cafe       pao  manteiga
3   cerveja     NaN       NaN       NaN
4  manteiga     NaN       NaN       NaN