# Algoritmo ECLAT

In [1]:
import pandas as pd
import numpy as np

In [4]:
#!pip install pyECLAT

In [7]:
from pyECLAT import ECLAT

In [6]:
base_mercado1 = pd.read_csv('./dados/mercado.csv', header=None)
print(base_mercado1.shape)
base_mercado1.head()

(10, 4)

         0        1         2         3
0    leite  cerveja       pao  manteiga
1     cafe      pao  manteiga       NaN
2     cafe      pao  manteiga       NaN
3    leite     cafe       pao  manteiga
4  cerveja      NaN       NaN       NaN

In [8]:
eclat = ECLAT(data=base_mercado1)

In [10]:
eclat.df_bin

   leite  cerveja  pao  manteiga  cafe  feijao  arroz
0      1        1    1         1     0       0      0
1      0        0    1         1     1       0      0
2      0        0    1         1     1       0      0
3      1        0    1         1     1       0      0
4      0        1    0         0     0       0      0
5      0        0    0         1     0       0      0
6      0        0    1         0     0       0      0
7      0        0    0         0     0       1      0
8      0        0    0         0     0       1      1
9      0        0    0         0     0       0      1

In [11]:
eclat.uniq_

[nan, 'leite', 'cerveja', 'pao', 'manteiga', 'cafe', 'feijao', 'arroz']

In [12]:
indices, suporte = eclat.fit(min_support=0.3, min_combination=1, max_combination=3)

Combination 1 by 1

3it [00:00, 49.20it/s]
3it [00:00, 129.04it/s]
1it [00:00, 91.21it/s]

Combination 2 by 2
Combination 3 by 3

In [13]:
indices

{'pao': [0, 1, 2, 3, 6],
 'manteiga': [0, 1, 2, 3, 5],
 'cafe': [1, 2, 3],
 'pao & manteiga': [0, 1, 2, 3],
 'pao & cafe': [1, 2, 3],
 'manteiga & cafe': [1, 2, 3],
 'pao & manteiga & cafe': [1, 2, 3]}

In [14]:
suporte

{'pao': 0.5,
 'manteiga': 0.5,
 'cafe': 0.3,
 'pao & manteiga': 0.4,
 'pao & cafe': 0.3,
 'manteiga & cafe': 0.3,
 'pao & manteiga & cafe': 0.3}