# Naive Bayes

In [1]:
import pandas as pd
import numpy as np
import plotly
import seaborn as srn
import matplotlib.pyplot as plt

## Base risco de crédito

### Análise Exploratória

In [3]:
df_risco_credito = pd.read_csv('risco_credito.csv')
print(df_risco_credito.shape)
df_risco_credito.head()

(14, 5)

       historia divida garantias     renda     risco
0          ruim   alta   nenhuma      0_15      alto
1  desconhecida   alta   nenhuma     15_35      alto
2  desconhecida  baixa   nenhuma     15_35  moderado
3  desconhecida  baixa   nenhuma  acima_35      alto
4  desconhecida  baixa   nenhuma  acima_35     baixo

In [4]:
df_risco_credito.describe(include='all')

       historia divida garantias     renda risco
count        14     14        14        14    14
unique        3      2         2         3     3
top         boa   alta   nenhuma  acima_35  alto
freq          5      7        11         7     6

In [5]:
df_risco_credito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   historia   14 non-null     object
 1   divida     14 non-null     object
 2   garantias  14 non-null     object
 3   renda      14 non-null     object
 4   risco      14 non-null     object
dtypes: object(5)
memory usage: 688.0+ bytes

### Pré-processamento

In [7]:
X_risco = df_risco_credito.iloc[:, 0:4].values
X_risco.shape

(14, 4)