# Visualização de dados financeiros

In [5]:
#!pip install pandas_datareader

In [6]:
import pandas as pd
from pandas_datareader import data
import numpy as np
import seaborn as srn
import matplotlib.pyplot
import plotly.express as px
srn.set()

## Base de dados com uma ação

Feito no yahoo!finanças para Gol de São Paulo a partir de 2015 até hoje.

In [7]:
gol_df = data.DataReader(name='GOLL4.SA', 
                         data_source='yahoo', 
                         start='2015-01-01')
print(gol_df.shape)
gol_df.head()

(1799, 6)

             High    Low   Open  Close   Volume  Adj Close
Date
2015-01-02  15.20  14.61  14.97  14.99   901900      14.99
2015-01-05  15.01  14.41  14.90  14.85  1272500      14.85
2015-01-06  15.21  14.65  14.75  15.21  2183500      15.21
2015-01-07  15.33  14.55  15.15  14.55  1846900      14.55
2015-01-08  14.65  14.20  14.41  14.27  1569500      14.27

In [11]:
print(gol_df.info())
gol_df.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1799 entries, 2015-01-02 to 2022-03-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   High       1799 non-null   float64
 1   Low        1799 non-null   float64
 2   Open       1799 non-null   float64
 3   Close      1799 non-null   float64
 4   Volume     1799 non-null   int64
 5   Adj Close  1799 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 98.4 KB
None

,count,mean,std,min,25%,50%,75%,max
High,1799.0,1.620853e+01,9.830051e+00,0.00,7.950,15.15,2.241000e+01,4.462000e+01
Low,1799.0,1.541410e+01,9.466661e+00,0.00,7.610,14.38,2.131000e+01,4.131000e+01
Open,1799.0,1.582115e+01,9.652272e+00,0.00,7.770,14.75,2.201000e+01,4.367000e+01
Close,1799.0,1.579349e+01,9.638045e+00,1.16,7.775,14.80,2.190000e+01,4.379000e+01
Volume,1799.0,5.086417e+06,4.747393e+06,0.00,2018100.000,3630800.00,6.461850e+06,4.368050e+07
Adj Close,1799.0,1.579349e+01,9.638045e+00,1.16,7.775,14.80,2.190000e+01,4.379000e+01