# Taxa de Retorno de Ações

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn  as srn
srn.set()
import plotly.express as px

## Taxa de retorno simples

- > RS = ((preço final - preço inicial) / preço inicial) * 100
- > RS = ((preço final - preço inicial + dividendos) / preço inicial) * 100
- > LUCRO = ((valor final * numero de ações) + (dividendos * numero de ações)) - (valor inicial * numero de ações) - taxa de compra - taxa de venda
- > Preço final de venda = ((preço final + dividendo) * numero de ações) - taxa de venda
- > Preço inicial de venda = (preço inicial * numero de ações) + taxa de compra
- > RS = ((preco final de venda - preço inicial de venda)/preço inicial de venda) * 100

In [4]:
dataset = pd.read_csv('acoes.csv')
print(dataset.shape)
dataset.head()

(1798, 7)

         Date    GOL    CVC      WEGE      MGLU       TOTS       BOVA
0  2015-01-02  14.99  15.20  5.923076  0.232812  11.910702  47.259998
1  2015-01-05  14.85  15.00  5.963461  0.237187  11.544731  46.320000
2  2015-01-06  15.21  14.80  5.875000  0.234062  10.822770  46.580002
3  2015-01-07  14.55  14.67  5.807692  0.241875  10.746248  48.150002
4  2015-01-08  14.27  14.15  5.905769  0.240000  10.995774  48.509998

In [15]:
preco_inicial = dataset['GOL'][0]
preco_final = dataset['GOL'][len(dataset)-1]
preco_inicial, preco_final

(14.989999771118164, 17.479999542236328)

In [19]:
taxa_retorno_simples = lambda preco_inicial, preco_final: ((preco_final - preco_inicial)/preco_inicial)*100
taxa_retorno_simples(preco_inicial, preco_final)

16.611072776103352

In [27]:
# para nossa carteira de ações

taxa_retorno_simples = lambda preco_inicial, preco_final: ((preco_final - preco_inicial)/preco_inicial)*100
df_taxa_retorno = pd.DataFrame()

for coluna in dataset.columns[1:]:
    preco_inicial = dataset[coluna][0]
    preco_final = dataset[coluna][len(dataset)-1]
    df_taxa_retorno.loc[coluna,'taxa_retorno_simples'] = taxa_retorno_simples(preco_inicial, preco_final)
df_taxa_retorno

      taxa_retorno_simples
GOL              16.611073
CVC               9.473682
WEGE            473.181906
MGLU           2906.717837
TOTS            203.592522
BOVA            144.921718

In [30]:
# outra formula:
((preco_final/preco_inicial) - 1)*100

144.92171838961005

## Taxa de retorno diária