# Regressão Linear Simples

In [3]:
#!pip install plotly --upgrade

In [4]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns 
import matplotlib.pyplot as plt

## Base plano saúde

In [7]:
base_plano_saude = pd.read_csv('plano_saude.csv')
print(base_plano_saude.shape)
base_plano_saude.head()

(10, 2)

   idade  custo
0     18    871
1     23   1132
2     28   1242
3     33   1356
4     38   1488

In [9]:
X_saude = base_plano_saude.iloc[:,0].values
y_saude = base_plano_saude.iloc[:,1].values
X_saude.shape, y_saude.shape

((10,), (10,))

In [10]:
np.corrcoef(X_saude, y_saude)  # correlação perfeita, pois valores são iguais

array([[1.        , 0.93091958],
       [0.93091958, 1.        ]])