# Dados Absolutos e relativos

In [1]:
import pandas as pd
import numpy as np

## Percentuais

In [2]:
dados = {'emprego': ['Administrador_banco_dados', 'Programador', 'Arquiteto_redes'],
         'nova_jersey': [97350, 87080, 112840],
         'florida':[77140, 71540,62310]}
dados = pd.DataFrame(dados)
dados

                     emprego  nova_jersey  florida
0  Administrador_banco_dados        97350    77140
1                Programador        87080    71540
2            Arquiteto_redes       112840    62310