# Regras de associação

- Associação Apriori
    - Funciona com atributos categóricos em que se aplica a distribuição de frequência.

In [14]:
#!pip install apyori

In [15]:
import pandas as pd
import numpy as np

from apyori import apriori

In [5]:
dataset = pd.read_csv('freq_census.csv')
print(dataset.shape)
dataset.head()

(32561, 15)

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
0,Faixa3,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,Faixa4,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,Faixa3,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,Faixa4,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,Faixa3,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
# apenas atributos categóricos
dataset_apriori = dataset[['age','workclass','education','marital-status','occupation','relationship','native-country','income']]
print(dataset_apriori.shape)
dataset_apriori.head()

(32561, 8)

,age,workclass,education,marital-status,occupation,relationship,native-country,income
0,Faixa3,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,United-States,<=50K
1,Faixa4,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,United-States,<=50K
2,Faixa3,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,United-States,<=50K
3,Faixa4,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,United-States,<=50K
4,Faixa3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Cuba,<=50K

In [8]:
dataset_apriori = dataset_apriori.sample(n=1000)
dataset_apriori.shape

(1000, 8)

In [11]:
transacoes = []
for i in range(dataset_apriori.shape[0]):
    transacoes.append([str(dataset_apriori.values[i,j]) for j in range(dataset_apriori.shape[1])])
len(transacoes)

1000

In [12]:
transacoes[0]

['Faixa3',
 ' Self-emp-not-inc',
 ' HS-grad',
 ' Divorced',
 ' Transport-moving',
 ' Not-in-family',
 ' United-States',
 ' <=50K']

In [20]:
regras = apriori(transacoes, min_support=0.3, min_confidence=0.2)
resultados = list(regras)
print(len(resultados))
print(resultados[0])

21
RelationRecord(items=frozenset({' <=50K'}), support=0.755, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({' <=50K'}), confidence=0.755, lift=1.0)])