# Quartis

In [1]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy.stats import stats

In [3]:
dados = [150, 151, 152, 152, 153, 154, 155, 155, 155, 155]  

# base deve estar ordanada

In [23]:
df = pd.DataFrame(dados)

In [8]:
mediana = np.median(dados)
posicao_mediana = math.floor(len(dados)/2)
esquerda = dados[:posicao_mediana]
direita = dados[posicao_mediana:]

## Q1

In [7]:
np.median(esquerda)

152.0

In [12]:
np.quantile(dados, 0.25)

152.0

In [18]:
stats.scoreatpercentile(dados, 25)

152.0

## Q1

In [15]:
mediana

153.5

In [11]:
np.quantile(dados, 0.5)

153.5

In [17]:
stats.scoreatpercentile(dados, 50)

153.5

## Q3

In [9]:
np.median(direita)

155.0

In [13]:
np.quantile(dados, 0.75)

155.0

In [19]:
stats.scoreatpercentile(dados, 75)

155.0

## Q4

In [10]:
dados[-1]

155

In [14]:
np.quantile(dados, 1)

155

In [20]:
stats.scoreatpercentile(dados, 100)

155.0

## Pandas

In [26]:
df.quantile([0.25,0.5,0.75,1])

          0
0.25  152.0
0.50  153.5
0.75  155.0
1.00  155.0

In [27]:
df.describe()

                0
count   10.000000
mean   153.200000
std      1.873796
min    150.000000
25%    152.000000
50%    153.500000
75%    155.000000
max    155.000000

## Dados agrupados

In [30]:
dados_agr = {'inferior': [150, 154, 158, 162, 166, 170], 
             'superior': [154, 158, 162, 166, 170, 174],
             'fi': [5, 9, 11, 7, 5, 3]}

dados_agr = pd.DataFrame(dados_agr)
dados_agr['xi'] = (dados_agr['superior'] + dados_agr['inferior'])/2
dados_agr['fi.xi'] = dados_agr['fi']*dados_agr['xi']
dados_agr['Fi'] = [dados_agr.iloc[:(i+1),2:3].sum()['fi'] for i in range(dados_agr.shape[0])]

print(dados_agr.shape)
dados_agr

(6, 6)

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   5
1       154       158   9  156.0  1404.0  14
2       158       162  11  160.0  1760.0  25
3       162       166   7  164.0  1148.0  32
4       166       170   5  168.0   840.0  37
5       170       174   3  172.0   516.0  40

In [41]:
def get_quartil(dataframe, q1=True):
    if q1 == True:
        fi_4 = dataframe['fi'].sum()/4
    else:
        fi_4 = (3 * dataframe['fi'].sum())/4
        
    limite_inferior, frequencia_classe, id_frequencia_anterior = 0, 0, 0
    for linha in dataframe.iterrows():
        limite_inferior = linha[1][0]
        frequencia_classe = linha[1][2]
        id_frequencia_anteior = linha[0]
        if linha[1][5] >= fi_4:
            id_frequencia_anterior -= 1
            break
    Fi_anterior = dataframe.iloc[[id_frequencia_anterior]]['Fi'].values[0]
    q = limite_inferior + ((fi_4 - Fi_anterior) * 4) / frequencia_classe
    
    return q

In [43]:
get_quartil(dados_agr),get_quartil(dados_agr, q1=False)  #q1 e q3

(140.66666666666666, 156.28571428571428)