# Avaliação de algoritmos de Machine Learning

In [1]:
import pandas as pd
import numpy as np

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [2]:
df_credit = pd.read_csv('Bases de dados/credit_data.csv')
print(df_credit.shape)
df_credit.head()

(2000, 5)

   i#clientid        income        age         loan  c#default
0           1  66155.925095  59.017015  8106.532131          0
1           2  34415.153966  48.117153  6564.745018          0
2           3  57317.170063  63.108049  8020.953296          0
3           4  42709.534201  45.751972  6103.642260          0
4           5  66952.688845  18.584336  8770.099235          1

In [3]:
df_credit.dropna(inplace=True)
df_credit.shape

(1997, 5)

In [5]:
X = df_credit.iloc[:, 1:4].values
y = df_credit.iloc[:, 4].values
X.shape, y.shape

((1997, 3), (1997,))