# Medidas de Posição e Dispersão

In [28]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy import stats

In [2]:
dataset = np.array([160, 165, 167, 164, 160, 166, 160, 161, 150, 152, 173, 160, 155,
                    164, 168, 162, 161, 168, 163, 156, 155, 169, 151, 170, 164,
                    155, 152, 163, 160, 155, 157, 156, 158, 158, 161, 154, 161, 156, 172, 153])
len(dataset)

40

## Média aritmética simples

In [3]:
dataset.sum()/len(dataset)

160.375

In [4]:
dataset.mean()

160.375

In [5]:
statistics.mean(dataset)

160

## Moda

In [6]:
statistics.mode(dataset)

160

In [7]:
stats.mode(dataset)

ModeResult(mode=array([160]), count=array([5]))

## Mediana

In [8]:
dados_impar = [150, 151, 152, 152, 153, 154, 155, 155, 155]
len(dados_impar)

9

### Impar

In [9]:
posicao = math.ceil(len(dados_impar)/2)
dados_impar[5 - 1]

153

In [14]:
np.median(dados_impar)

153.0

In [17]:
statistics.median(dados_impar)

153

### Par

In [13]:
dataset = sorted(dataset)
posicao = len(dataset)//2
(dataset[posicao-1] + dataset[posicao])/2

160.0

In [15]:
np.median(dataset)

160.0

In [16]:
statistics.median(dataset)

160.0

## Média ponderada

In [18]:
notas = np.array([9, 8, 7, 3])
pesos = np.array([1, 2, 3, 4])

In [37]:
sum(notas * pesos)/pesos.sum()

5.8

In [38]:
np.average(notas, weights=pesos)

5.8

## Dados agrupados

In [81]:
dados = {'inferior': [150, 154, 158, 162, 166, 170], 
         'superior': [154, 158, 162, 166, 170, 174],
         'fi': [5, 9, 11, 7, 5, 3]}
dados = pd.DataFrame(dados)
print(dados.shape)
dados

(6, 3)

   inferior  superior  fi
0       150       154   5
1       154       158   9
2       158       162  11
3       162       166   7
4       166       170   5
5       170       174   3

In [82]:
# ponto médio
dados['xi'] = (dados['superior'] + dados['inferior'])/2
dados

   inferior  superior  fi     xi
0       150       154   5  152.0
1       154       158   9  156.0
2       158       162  11  160.0
3       162       166   7  164.0
4       166       170   5  168.0
5       170       174   3  172.0

In [83]:
dados['fi.xi'] = dados['fi']*dados['xi']
dados

   inferior  superior  fi     xi   fi.xi
0       150       154   5  152.0   760.0
1       154       158   9  156.0  1404.0
2       158       162  11  160.0  1760.0
3       162       166   7  164.0  1148.0
4       166       170   5  168.0   840.0
5       170       174   3  172.0   516.0

In [84]:
# frequencia acumulada
dados['Fi'] = [dados.iloc[:(i+1),2:3].sum()['fi'] for i in range(dados.shape[0])]
dados

   inferior  superior  fi     xi   fi.xi  Fi
0       150       154   5  152.0   760.0   5
1       154       158   9  156.0  1404.0  14
2       158       162  11  160.0  1760.0  25
3       162       166   7  164.0  1148.0  32
4       166       170   5  168.0   840.0  37
5       170       174   3  172.0   516.0  40