# Quartis

In [1]:
import pandas as pd
import numpy as np
import math
import statistics
from scipy.stats import stats

In [3]:
dados = [150, 151, 152, 152, 153, 154, 155, 155, 155, 155]  

# base deve estar ordanada

In [23]:
df = pd.DataFrame(dados)

In [8]:
mediana = np.median(dados)
posicao_mediana = math.floor(len(dados)/2)
esquerda = dados[:posicao_mediana]
direita = dados[posicao_mediana:]

## Q1

In [7]:
np.median(esquerda)

152.0

In [12]:
np.quantile(dados, 0.25)

152.0

In [18]:
stats.scoreatpercentile(dados, 25)

152.0

## Q1

In [15]:
mediana

153.5

In [11]:
np.quantile(dados, 0.5)

153.5

In [17]:
stats.scoreatpercentile(dados, 50)

153.5

## Q3

In [9]:
np.median(direita)

155.0

In [13]:
np.quantile(dados, 0.75)

155.0

In [19]:
stats.scoreatpercentile(dados, 75)

155.0

## Q4

In [10]:
dados[-1]

155

In [14]:
np.quantile(dados, 1)

155

In [20]:
stats.scoreatpercentile(dados, 100)

155.0

## Pandas

In [26]:
df.quantile([0.25,0.5,0.75,1])

          0
0.25  152.0
0.50  153.5
0.75  155.0
1.00  155.0

In [27]:
df.describe()

                0
count   10.000000
mean   153.200000
std      1.873796
min    150.000000
25%    152.000000
50%    153.500000
75%    155.000000
max    155.000000

## Dados agrupados